@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

body {
  background-image: url(./assets/us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

;


header {
  text-align: center;
}

main div>h1 {
  font-family: 'Freehand', cursive;
  text-align: left;
  font-size: 3rem;
  justify-content: center;
  color: rgba(97, 117, 142, 0.912);
  margin-left: 50px;
  transition-timing-function: ease-in-out;
}